body{ 
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
    }

p{
   font-size: 18px;
   color: #3b506c;
}

img{
      display: block;
      max-width: 100%;
}

header{

     position: sticky;
     top: 0;
     transition:0.3s ease;  /* Smooth color change on scroll */
    padding: 30px 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }


nav{  
    display:flex;
    justify-content: space-between;
    align-items: center;
    }

nav ul{
        margin: 0px;
        padding: 0px;
        list-style: none ;
        display: flex;
    }
nav ul li{
        margin:0 0 0 25px;
    }
nav ul li a{
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        color:#3b506c;
        transition: 0.3s ease;
     }

nav ul li a:hover {
          color: #f8f6f3; /* Hover color */
        }
        
/* When the page is scrolled, change the background color */
body.scrolled header {
     background-color:#d0cde1;  /* Dark background when scrolled */
   }
   
body.scrolled nav ul li a {
     color: #3b506c; /* Change nav link color to white when scrolled */
   }

     /*===== banner css =====*/

.banner{
        text-align: center;
        color:#3b506c ;
     }

.banner h1{
        font-size: 60px;
        margin: 90px 0px 0px 0px;
     }

.banner h1 span{
        color:#0c66ff ;
     }

.banner img{
        width: 50%;
        margin: auto;
     }

.parent{
      display: flex;
     }
     
.item{
      width: 50%;
      padding: 0px 25px 0px 25px;
     }

.special{
      text-align: right;
     }
     
.item h1{
      font-size:40px ;
      color: #3b506c;
     }

.special h1{
      color: red;
     }
 
     /* ==== Service ====*/

.service-section{
      margin:70px 30px 70px 30px ; 
     }

.service{
      display: flex;
      gap: 20px;
     }

.service-item{
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      padding: 20px 20px 20px 20px;
      border-radius: 5px;
     }

.service-item img {
      height: 250px;
     }

.service-item h4{
      font-size: 25px;
      margin: 10px 0px 0px 0px;
     }

     /* ==== Footer ====*/

footer{
      background-color: #3b506c;
      color: white;
      text-align: center;
      padding:1px;
     }

